* {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

.header {
  padding: 48px 16px;
  text-align: center;
  background-image: url(images/css-background-3.png);
  background-size: 100%;
  border: 5px solid;
}
.main {
  max-width: 800px;
  padding: 48px 16px;
  border: solid;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  background-image: url(images/css-wallpaper.webp);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
[href] {
  color: white;
  padding: 30px;
}
article {
  padding: 15px;
  color: aliceblue;
  text-align: left;
}
#title-1 {
  font-size: 2.5em;
}
article + article {
  margin: 15px;
}

[href]:hover {
  background-color: black;
}
[href]:active {
  background-color: brown;
}
main > * {
  border-top: 2px solid grey;
}
main > :nth-child(1) {
  border-top: none;
}
#aMe {
  text-align: center;
}
::selection {
  background-color: chartreuse;
  color: black;
}
section > h2::after {
  content: "🌳";
}
section > h2::before {
  content: "🌳";
}
