* {
  box-sizing: border-box;
}

html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0px;
  --main-color: red;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 1rem;
  text-align: center;
  background-image: url(images/css-background-3.png);
  background-size: 100%;
  border: 0.25px solid var(--main-color);
}
.main {
  max-width: 80ch;
  padding: 2rem 3rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--main-color);
  color: white;
}
[href] {
  color: white;
  padding: 2rem;
}
article {
  padding: 1rem;
  color: aliceblue;
  text-align: left;
}
#title-1 {
  font-size: 2.5em;
}
article + article {
  margin: 1rem;
}

[href]:hover {
  background-color: var(--main-color);
}
[href]:active {
  background-color: brown;
}
main > * {
  border-top: 0.25rem solid grey;
}
main > :nth-child(1) {
  border-top: none;
}
#aMe {
  text-align: center;
}
::selection {
  background-color: chartreuse;
  color: var(--main-color);
}
section > h2::after {
  content: "🌳";
}
section > h2::before {
  content: "🌳";
}
.exp-header {
  display: flex;
  flex-direction: column;
}

.Heading {
  position: relative;
  left: -30px;
}
.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: orange;
  color: var(--main-color);
}
.cv-title {
  font-size: 2rem;
}
.main-title {
  font-size: 1em;
}
.main-proffesion {
  font-size: 0.25em;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}
@media print {
  .hire-me {
    display: none;
  }

  nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 5rem;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .exp-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}
@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
}
